name                         = "app-stg"
region                       = "aws-region"
aws_credentials_path         = "~/.aws/credentials"
aws_credentials_profile_name = "default"
s3_remote_state_bucket       = "bucket_name"
s3_remote_state_key          = "bucket_path"